#name_errorr{
  visibility: hidden;
  color: red;
}

#age_errorr{
    visibility: hidden;
    color: red;

}

#city_errorr{
    visibility: hidden;
    color: red;
}

#phone_error{
    visibility: hidden;
    color: red;
}