div.gallery{
    border: 1px black solid;
    margin: 5px;
    float: left;
    width: 180px;
    
}
div.gallery:hover{
    border: 1px solid #777 
}

div.gallery img{
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-emphasis: center;
}
a[href="https://shkol"]{
    color: blue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p[class*="ds" ]{
    background: blue;
    color: white;
    padding: 20px;
}

div[id~=ds]{
    background-color: green;
    color: white;
    padding: 20px;
}